.about {
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 10%;
  margin: 5% 0%;
  flex-wrap: wrap;
}
img {
  align-items: center;
  display: block; /* Ensure the image is treated as a block element */
  margin: 0 auto;
  z-index: 5;
}
